<div flex layout="column" layout-align="center center" style="height: 100%">
  <img src="/img/icons/html5.svg" alt="login" height="128" width="128">
  <br>
  <md-content layout-padding="2" class="autoScroll">
    <section layout="row" layout-sm="column" layout-align="center center">
    <h3 class="md-headline">Felicitaciones</h3>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center">
    <p class="md-body-1">Tu registro fue exitoso ahora puedes empezar a utilizar el sistema de trabajo de grados.</p>
    </section>
  </md-content>
  <section layout="row" layout-sm="column" layout-align="center center">
      <md-button class="md-accent md-raised md-hue-1" ng-click="go('/login')">Iniciar sesión</md-button>
  </section>
</div>
